<ion-header>

  <ion-navbar>
    <ion-title>Dodaj novi kafić</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #f7f5f4;" padding>
  
  <ion-item>
    <ion-label floating>Naziv kafića</ion-label>
    <ion-input [(ngModel)]="name" type="text" name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select style="max-width: 100%!important;width:100%;" [(ngModel)]="category" placeholder="Izaberi kategoriju">
      <ion-option value="cafe">Kafić</ion-option>
      <ion-option value="restaurant">Restoran</ion-option>
      <ion-option value="bar">Bar</ion-option>
    </ion-select>
    </ion-item>

  <br/>

  <button style="width: 100%" mat-raised-button class="saveButton" color="primary" block (click)="save()">Sačuvaj</button>  
</ion-content>