<ion-header>
        <ion-navbar>
          <ion-title>{{place.name}}</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content style="background-color: #f7f5f4; height: 100%;overflow-y: auto;" padding>
         <style>
            ::ng-deep .mat-list .mat-list-item .mat-line{
                word-wrap: break-word;
                white-space: pre-wrap;
            }
            textarea { max-width: 100%; width: 100%; height: 20vh; }
            </style>
        <mat-tab-group md-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" (selectedTabChange)="onSegmentChanged($event)">
            <mat-tab label="Dodaj" >
                <div *ngIf="place.voted==false">
                <br>
                <div style="text-align: center;">
                            <h2>Kakva je kafa?</h2>
                <ionic3-star-rating style="color:black"
                                activeIcon = "ios-star"
                                defaultIcon = "ios-star-outline"
                                activeColor = "black" 
                                defaultColor = "black"
                                readonly="false"
                                [rating]="ratingValue">
                            </ionic3-star-rating>
                            </div>
                            <br>
                            <ion-item>
                                    <ion-textarea placeholder="Napiši komentar o kafi, kafiću, muzici, ambijentu..." [(ngModel)]="comment" type="text" name="name"></ion-textarea>
                                  </ion-item>
                                  <br/>
                                  <img [src]="commentUrl">
                                  </div>
                                  <div *ngIf="place.voted==true">
                                        <ion-item>
                                                <ion-textarea [(ngModel)]="cafeEntered" disabled></ion-textarea>
                                              </ion-item>
                                  </div>
                                  <div matLine> <button style="width: 100%" mat-raised-button *ngIf="selectedTab==0 && place.voted==false" class="saveButton" block color="primary" (click)="novaFoto()"><mat-icon aria-label="">add_a_photo</mat-icon> Dodaj sliku uz komentar</button></div>
            </mat-tab>
          <mat-tab label="Svi komentari i ocene">
                        <h4 matSubheader>Komentari<span [hidden]="reviews.length == 0">({{reviews.length}})</span></h4>
                        <mat-list>
                          
                          <mat-list-item style="cursor: pointer" *ngFor="let review of reviews">
                              <!-- <mat-icon matListIcon>mode_comment</mat-icon> -->
                              <img matListAvatar style="height: 60px;width: auto;" [src]="review.user.imageUrl">
                              <p *ngIf="review.response == ''" matLine>{{review.user.fullName}}:</p><br>
                              <p matLine><mat-icon *ngFor="let i of Arr(review.rating).fill(1)">star</mat-icon><mat-icon *ngFor="let i of Arr(5-review.rating).fill(review.rating)">star_border</mat-icon></p>
                             <p *ngIf="review.response != ''" matLine>{{review.user.fullName}} kaže:</p><br>
                             <span style="color:black" *ngIf="review.response != ''" matLine><b>{{review.response}}</b></span>
                             <div matLine *ngIf="review.image != ''" class="button-row">
                                            <img (click)="openGallery(review.image)" style="height: 40px;width: auto;" [src]="review.image">
                            </div>
                            <hr>
                            </mat-list-item>
                            
                       </mat-list>
                      <span [hidden]="reviews.length > 0">
                          Nema ocena za ovo mesto
                      </span>
                  
          </mat-tab>
        </mat-tab-group>
      </ion-content>
      <ion-footer  >
        <div matLine> <button style="width: 100%" mat-raised-button *ngIf="selectedTab==0 && place.voted==false" class="saveButton" color="primary" block (click)="insertComment(place.id)">Pošalji</button></div>
        
        <div matLine> <button style="width: 100%" mat-raised-button class="saveButton" color="warn" block (click)="report(place.id)">Prijavi da u mestu nema kafe</button></div>
          </ion-footer>