<ion-header>
  <ion-navbar>
    <!-- <ion-title></ion-title> -->
    <ion-buttons end>
      
    </ion-buttons>
    <div class="button-row">
      <button mat-raised-button color="primary"  (click)="reloadAndLoadMap()"><mat-icon> my_location</mat-icon></button>
      <!-- <img src="{{user.url}}"> -->
      <button style="float: right;" color="primary" mat-raised-button (click)="addCafe()">
        <ion-icon name="add"></ion-icon>&nbsp;Dodaj kafić
      </button>
      <!-- <button mat-raised-button color="warn" style="float: right; margin-right: 5px" (click)="googleLogin()"><ion-icon name="logo-google"></ion-icon>
        Login</button> -->
        
      
    </div>
    <hr>
    
    <div class="button-row" style="text-align:center">
        <span>Udaljenost:&nbsp;</span><b>{{meters}}m</b>
        </div>
        &nbsp;
        <div class="button-row" style="text-align:center">
            <button mat-mini-fab color="primary" (click)="sliderDown()">
                <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
              </button>
       
        <mat-slider id="slider"
  thumbLabel
  min="100"
  step="100"
  color="primary"
  [(ngModel)]="meters"
  (change)="reloadAndLoadMapCurrent()"
  (input)="onInputChange($event)"
  max="400"></mat-slider> 
  <button mat-mini-fab color="primary" (click)="sliderUp()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  
  </div>
  </ion-navbar>
</ion-header>
<style>
  mat-slider {
  width: 170px;
}
.labelClass{
  white-space:nowrap;
  text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
  color: yellow;
  width: max-content;
}
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}
.leaflet-right {
  display:none!important;
}
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.empty-stars:before,
.full-stars:before {
  content: "\\2605\\2605\\2605\\2605\\2605";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px rgb(5, 5, 5);
}
</style>

<ion-content style="background-color: #f7f5f4; height: 100%;overflow-y: auto;" padding>
  <h2>Gde je najbolja kafa?</h2> 
  <mat-tab-group md-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" (selectedTabChange)="onSegmentChanged($event)">
      <mat-tab label="Lista mesta" >
          <ion-list draggable=".card">
              <mat-list>
                <h3 matSubheader>Mesta u blizini <span [hidden]="places.length == 0">({{places.length}})</span></h3>
                <mat-list-item style="cursor: pointer" *ngFor="let place of places">
                    <mat-icon matListIcon>free_breakfast</mat-icon>
                    <h3 matLine> <b>{{place.name}}</b> </h3>
                    <p matLine>
                      <span> {{place.category}} </span>
                    </p>
                    <p *ngIf="place.ratingsNum==0" matLine>Nema ocena i komentara</p>
                    <div *ngIf="place.ratingsNum>0" matLine>
                        <div class="ratings">
                            <div class="empty-stars"></div>
                            <div class="full-stars" [ngStyle]="{'width':place.percentage+'%'}"></div>
                          </div>
                        </div>
                    <!-- <div class="star-ratings-css">
                        <div class="star-ratings-css-top" [ngStyle]="{'width':place.percentage+'%'}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      </div></div> -->
                    <!-- <p *ngIf="place.ratingsNum>0" matLine><mat-icon *ngFor="let i of Arr(place.rating).fill(1)">star</mat-icon><mat-icon *ngFor="let i of Arr(5-place.rating).fill(place.rating)">star_border</mat-icon></p> -->
                   <div *ngIf="place.ratingsNum==0" matLine class="button-row" matLine></div>
                   <div *ngIf="place.ratingsNum==1" matLine class="button-row" matLine><b>{{place.rating}}</b>&nbsp;({{place.ratingsNum}} glas)</div>
                   <div *ngIf="place.ratingsNum<5 && place.ratingsNum>1" matLine class="button-row" matLine><b>{{place.rating}}</b>&nbsp;({{place.ratingsNum}} glasa)</div>
                   <div *ngIf="place.ratingsNum>4" matLine class="button-row" matLine><b>{{place.rating}}</b>&nbsp;({{place.ratingsNum}} glasova)</div>
                   <div matLine class="button-row">
                    <button (click)="placeClick(place)" mat-raised-button color="primary">
                        <mat-icon aria-label="Example icon-button with a heart icon">location_on</mat-icon>
                      </button>&nbsp;
          <button (click)="cafeView(place)" mat-raised-button color="primary">
              <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>Dodaj komentar
            </button><br><br>
          
          </div>
                   <mat-divider></mat-divider>
                  </mat-list-item>
                
                
                
               
             </mat-list>
        
            <ion-list-header [hidden]="places.length > 0">
                Nema mesta u blizini
            </ion-list-header>
      
      
        </ion-list>
        </mat-tab>
    <mat-tab label="Mapa">
      <div id="map" style="height: 100%;"></div>  
    </mat-tab>
  </mat-tab-group>
  
<!-- </div> -->



</ion-content>

<!-- <ion-footer>
    <button class="" ion-button full icon-end (click)="pushAllCustomersJson()">
        Push All
      </button>
  <button class="novaFoto" ion-button full icon-end (click)="novaFoto()">
    NEW PHOTO
    <ion-icon name="md-camera"></ion-icon>
  </button>
</ion-footer> -->